<section class="product-page">
  <div class="product-wrapper">
    <div class="product-image">
        {% assign points = product.metafields.custom.award_points %}
          {% assign badges = product.metafields.custom.award_badge %}
          {%  assign index = 0 %}
          {% if points != blank or badges != blank %}
            <div class="product_awards">
              {% if points != blank %}
                {% for award in points.value %}
                  <p class="award award_accolade" style="z-index: {{ index }};"><span class="points">{{ award }}</span><span class="type">PTS</span></p>
                  {% assign index = index | plus: 1 %}
                {% endfor %}
              {% endif %}
              {% for badge in badges.value %}
                <img src="{{ badge | img_url: 'large' }}" alt="Award Badge" class="badge award_accolade" style="z-index: {{ index }};">
                {% assign index = index | plus: 1 %}
              {% endfor %}
            </div>
            {% endif %}
      <img src="{{ product.featured_image | img_url: '800x' }}" alt="{{ product.title }}">
    </div>

    <div class="product-details">
      <h1>{{ product.title }}</h1>
      <p class="product-price">{{ product.price | money }}</p>
      <div class="product-description">
        {{ product.description }}
      </div>

        <form method="post" action="/cart/add" class="product-form">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
            <div class="quantity-wrapper">
                <button type="button" class="qty-btn minus">−</button>
                <input type="number" id="quantity" name="quantity" value="1" min="1">
                <button type="button" class="qty-btn plus">+</button>
            </div>

            <button type="submit" class="add-to-cart">Add to Cart</button>
        </form>
        {% if product.metafields.custom.region or product.metafields.custom.winemaking or product.metafields.custom.winemaker or product.metafields.custom.history or product.metafields.custom.production or product.metafields.custom.grape_variety or
    product.metafields.custom.aroma or product.metafields.custom.wine_vintage or product.metafields.custom.palate or product.metafields.custom.best_drinking or product.metafields.custom.colour or product.metafields.custom.alcohol %}
        <div class="after_meta_links">
		    <a class="anchor_link" targets="product-specifications" href="#"><i class="fa-solid fa-arrow-right-long"></i> Specifications</a>
        {% if product.metafields.custom.video_tasting_note != blank %}
          <a data-fancybox data-src="#tasting_note_video" href="javascript:;"><i class="fa-solid fa-arrow-right-long"></i> Video</a>
        {% endif %}
		</div>
    {% endif %}
    </div>
  </div>
</section>
{% if product.metafields.custom.lifestyle_image %}
    <div class="lifestyle-image" style="background-image: url('{{ product.metafields.custom.lifestyle_image | img_url: 'original' }}');">
    </div>
{% endif %}
{% if product.metafields.custom.region or product.metafields.custom.winemaking or product.metafields.custom.winemaker or product.metafields.custom.history or product.metafields.custom.production or product.metafields.custom.grape_variety or
    product.metafields.custom.aroma or product.metafields.custom.wine_vintage or product.metafields.custom.palate or product.metafields.custom.best_drinking or product.metafields.custom.colour or product.metafields.custom.alcohol %}
    <div id="product-specifications">
        <div class="product-specifications-inner">
          <h3 class="specs_header">Specifications</h3>
            {% if product.metafields.custom.region %}

              <a href="#" class="collapse_specs" target="region">Region</a>
                <div id="region" class="meta-item">
                    <p class="specs_title">Region</p> <p class="specs_details">{{ product.metafields.custom.region }}</p>
                </div>
            {% endif %}
            {% if product.metafields.custom.winemaking %}
                <a href="#" class="collapse_specs" target="winemaking">Winemaking</a>
                <div id="winemaking" class="meta-item">
                    <p class="specs_title">Winemaking</p> <p class="specs_details">{{ product.metafields.custom.winemaking }}</p>
                </div>
            {% endif %}
            {% if product.metafields.custom.winemaker %}
                <a href="#" class="collapse_specs" target="winemaker">Winemaker</a>
                <div id="winemaker" class="meta-item">
                    <p class="specs_title">Winemaker</p> <p class="specs_details">{{ product.metafields.custom.winemaker }}</p>
                </div>
            {% endif %}
            {% if product.metafields.custom.history %}
                <a href="#" class="collapse_specs" target="history">History</a>
                <div id="history" class="meta-item">
                    <p class="specs_title">History</p> <p class="specs_details">{{ product.metafields.custom.history }}</p>
                </div>
            {% endif %}
            {% if product.metafields.custom.production %}
                <a href="#" class="collapse_specs" target="production">Production</a>
                <div id="production" class="meta-item">
                    <p class="specs_title">Production</p> <p class="specs_details">{{ product.metafields.custom.production }}</p>
                </div>
            {% endif %}
            {% if product.metafields.custom.grape_variety %}
                <a href="#" class="collapse_specs" target="grape_variety">Grape Variety</a>
                <div id="grape_variety" class="meta-item">
                    <p class="specs_title">Grape Variety</p> <p class="specs_details">{{ product.metafields.custom.grape_variety }}</p>
                </div>
            {% endif %}
            {% if product.metafields.custom.aroma %}
                <a href="#" class="collapse_specs" target="aroma">Aroma</a>
                <div id="aroma" class="meta-item">
                    <p class="specs_title">Aroma</p> <p class="specs_details">{{ product.metafields.custom.aroma }}</p>
                </div>
            {% endif %}
            {% if product.metafields.custom.wine_vintage %}
                <a href="#" class="collapse_specs" target="wine_vintage">Wine Vintage</a>
                <div id="wine_vintage" class="meta-item">
                    <p class="specs_title">Wine Vintage</p> <p class="specs_details">{{ product.metafields.custom.wine_vintage }}</p>
                </div>
            {% endif %}
            {% if product.metafields.custom.palate %}
                <a href="#" class="collapse_specs" target="palate">Palate</a>
                <div id="palate" class="meta-item">
                    <p class="specs_title">Palate</p> <p class="specs_details">{{ product.metafields.custom.palate }}</p>
                </div>
            {% endif %}
            {% if product.metafields.custom.best_drinking %}
                <a href="#" class="collapse_specs" target="best_drinking">Best Drinking</a>
                <div id="best_drinking" class="meta-item">
                    <p class="specs_title">Best Drinking</p> <p class="specs_details">{{ product.metafields.custom.best_drinking }}</p>
                </div>
            {% endif %}
            {% if product.metafields.custom.colour %}
                <a href="#" class="collapse_specs" target="colour">Colour</a>
                <div id="colour" class="meta-item">
                    <p class="specs_title">Colour</p> <p class="specs_details">{{ product.metafields.custom.colour }}</p>
                </div>
            {% endif %}
            {% if product.metafields.custom.alcohol %}
                <a href="#" class="collapse_specs" target="alcohol">Alcohol</a>
                <div id="alcohol" class="meta-item">
                    <p class="specs_title">Alcohol</p> <p class="specs_details">{{ product.metafields.custom.alcohol }}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
{% if product.metafields.custom.product_big_image %}
    <div class="big-image" style="background-image: url('{{ product.metafields.custom.product_big_image | img_url: 'original' }}');">
    </div>
{% endif %}

{% if product.metafields.custom.video_tasting_note != blank %}
<div id="tasting_note_video" style="display: none;">
  <div class='embed-container'>
    <iframe src="{{ product.metafields.custom.video_tasting_note }}" frameborder='0' allowfullscreen></iframe>
  </div>
</div>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const qtyWrappers = document.querySelectorAll('.quantity-wrapper');

    qtyWrappers.forEach(wrapper => {
      const input = wrapper.querySelector('input[type="number"]');
      const minus = wrapper.querySelector('.qty-btn.minus');
      const plus = wrapper.querySelector('.qty-btn.plus');

      minus.addEventListener('click', () => {
        let val = parseInt(input.value, 10);
        if (val > 1) input.value = val - 1;
      });

      plus.addEventListener('click', () => {
        input.value = parseInt(input.value, 10) + 1;
      });
    });
  });
</script>

{% schema  %}
{
  "name": "Cru Single Product",
  "settings": [],
  "presets": [
    {
      "name": "Cru Single Produc",
      "category": "CRU"
    }
  ]
}
{% endschema %}