<div class="cru-cta-grid">
  {% for block in section.blocks %}
    {% if block.type == "cta_block" %}
      <div class="cta-block">
        <img src="{{ block.settings.background_image | img_url: 'original' }}" alt="{{ block.settings.title }}" class="cta-background" />
          <div class="cta-overlay">
              <h2 style="color: {{ block.settings.title_color }}">{{ block.settings.title }}</h2>
              {% if block.settings.description != "" %}
                <p>{{ block.settings.description }}</p>
              {% endif %}
              <a href="{{ block.settings.button_link }}" class="btn" style="color: {{ block.settings.title_color }}">{{ block.settings.button_text }}<i class="fa-solid fa-chevron-right" style="color: {{ block.settings.title_color }}"></i></a>
          </div>
      </div>
      {% else if block.type == "cta_product_block" %}
        <div class="cta-block cta-product-block">
          <div class="cta-overlay">
            <h2 style="color: {{ block.settings.title_color }}">{{ block.settings.title }}</h2>
            <a href="{{ block.settings.button_link }}" class="btn" style="color: {{ block.settings.title_color }}">{{ block.settings.button_text }}<i class="fa-solid fa-chevron-right" style="color: {{ block.settings.title_color }}"></i></a>
          </div>
          <div class="cta-products">
            {% for product in collections.all.products %}
              <div class="cru-product-item {% for tag in product.tags %}product_cat-{{ tag | handle }} {% endfor %}">
                  {% assign points = product.metafields.custom.award_points %}
                  {% assign badges = product.metafields.custom.award_badge %}
                  {%  assign index = 0 %}
                  {% if points != blank or badges != blank %}
                    <div class="product_awards">
                      {% if points != blank %}
                        {% for award in points.value %}
                          <p class="award award_accolade" style="z-index: {{ index }};"><span class="points">{{ award }}</span><span class="type">PTS</span></p>
                          {% assign index = index | plus: 1 %}
                        {% endfor %}
                      {% endif %}
                      {% for badge in badges.value %}
                        <img src="{{ badge | img_url: 'large' }}" alt="Award Badge" class="badge award_accolade" style="z-index: {{ index }};">
                        {% assign index = index | plus: 1 %}
                      {% endfor %}
                    </div>
                    {% endif %}
                  
                    <a href="{{ product.url }}">
                        <img src="{{ product.featured_image | img_url: 'large' }}" alt="{{ product.title }}" class="product-image ">
                    </a>
                    <div class="product-info">
                        <p class="product-title"><a href="{{ product.url }}">{{ product.title }}</a></p>
                        <p class="product-price">{{ product.price | money }}</p>
                        {% if product.available %}
                            <div class="ajax-add-to-cart" data-variant-id="{{ product.variants.first.id }}">
                                <div class="quantity-wrapper">
                                    <button type="button" class="qty-btn minus">−</button>
                                    <input
                                        type="number"
                                        name="quantity"
                                        min="1"
                                        value="1"
                                        class="quantity-input"
                                    >
                                    <button type="button" class="qty-btn plus">+</button>
                                </div>
                                <div class="add-to-cart-wrapper">
                                    <button class="add-to-cart-button">Add to Cart</button>
                                    {% comment %} <span class="add-status"></span> {% endcomment %}
                                </div>
                            </div>
                            {% else %}
                            <p class="sold-out">Sold Out</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
</div>
{% schema  %}  
{
  "name": "CRU CTA Grid",
  "settings": [
    {
      "type": "header",
      "content": "CRU CTA Grid Settings"
    }
  ],
  "blocks": [
    {
      "type": "cta_block",
      "name": "CTA Block",
      "settings": [
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Section Title",
            "default": "Call to Action"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default": "#000000"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description",
            "default": "This is a call to action section."
        },
        {
            "type": "text",
            "id": "button_link",
            "label": "Button Link",
            "default": "https://example.com"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Learn More"
        }
      ]
    },
    {
      "type": "cta_product_block",
      "name": "CTA Product Block",
      "settings": [
        {
          "type": "number",
          "id": "number_of_products",
          "label": "Number of Products to Show"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Section Title",
            "default": "Call to Action"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default": "#000000"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description",
            "default": "This is a call to action section."
        },
        {
            "type": "text",
            "id": "button_link",
            "label": "Button Link",
            "default": "https://example.com"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Learn More"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "CRU CTA Grid",
      "category": "Custom"
    }
  ]
}
{% endschema %}